@charset "utf-8";
@font-face{
    font-family: "MaruMinya";
    src: url("../font/x12y12pxMaruMinyaHangul.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css');
@font-face {
    font-family: 'YKompyuta';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YUniverse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'YUniverse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}